<ion-header>
  <ion-navbar item-center>
    <ion-title>Welcome to the Completed Quote Info Search</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let quote of quotes">
      ID: {{ quote.id }} Price: {{ quote.price }}
    </ion-item>
    <ion-item *ngFor='let customer of customers'>
      Product: {{ customer.phone }}
    </ion-item>


  </ion-list>
  <table border="1">
    <colgroup span="2" style="background-color:orange">
    </colgroup>
    <tr>
      <td *ngFor='let quote of quotes'>{{ quote.id }}</td>
      <td *ngFor='let product of products'>{{ product.name }}</td>
      <td>column 3</td>
    </tr>
  </table>

  
</ion-content>